{% extends 'base.html' %}
{% block title %}Chat{% endblock %}
{% block content %}
<h1 class="text-2xl">Chat Room</h1>
<div id="chat-log" class="h-64 overflow-y-scroll bg-white p-4 rounded"></div>
<input id="chat-message-input" type="text" class="w-full p-2 border">
<button id="chat-message-submit" class="bg-blue-500 text-white p-2">Send</button>

<script>
    const roomName = "{{ room_name }}";
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += '<p><strong>' + data.sender + ':</strong> ' + data.message + '</p>';
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({'message': message}));
        messageInputDom.value = '';
    };
</script>
{% endblock %}